<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhu.mapper.UserMapper">

   <resultMap type="User" id="UserMap">
     <id column="id" property="id"/>
     <result column="username" property="username"/>
     <result column="password" property="password"/>
     <result column="cellphone" property="cellphone"/>
     <result column="email" property="email"/>
     <result column="address" property="address"/>
   </resultMap> 
   
   <select id="findByUsernameAndPwd"    resultMap="UserMap">
      select*from user where username=#{username} and password=#{password}
   </select>
   <select id="findByUsername" resultMap="UserMap">
      select*from user where username=#{username}
   </select>
   
   <insert id="add">
       insert into user(id,username,password,cellphone,email,address) 
            values(#{id},#{username},#{password},#{cellphone},#{email},#{address})
   </insert>
</mapper>